<launch>
	<node pkg="serial_imu" name="HI226" type="serial_imu" />
	<node pkg="serial_imu" name="subscriber_HI226" type="imu_subscriber"
        output="screen" />
        <node pkg="tf" type="static_transform_publisher" name="base_link_to_odom" args="0 0 0 0 0 0 odom base_link 100"/>
        <node pkg="serial_imu" name="imu_odom" type="imu_to_odom"  output = "screen"/>
        <node pkg="rviz" name="rviz_hi226" type="rviz" />
</launch>
